@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Stylish&display=swap');
*{
    margin: 0;
    padding: 0;
}
.hero-container {
    position: relative;
    background-color: black;
    color: white;
    z-index:1;
}
/* .hero-image {
    position: relative;
    border: 2px solid greenyellow;
    background-color: #1DA1F2;
    width: 303px;
    height: 405px;
} */
.profile-image-container {
    position: relative;
    
}
/* .profile-image {
    width: 300px;
    height: 400px;
    margin-right: 80px;
    border-bottom: 4px solid black;
    z-index:2;
} */
.hero-background {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: -1;
}
.background-image {
    width: 600px;
    height: 500px;
    object-fit: cover;
    filter: drop-shadow(0px 0px 10px #ffec1a);
}
/* About ME button*/
         
.btn {
    position: relative;
    background-image: linear-gradient(to right, #F7971E 0%, #FFD200  51%, #F7971E  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(244, 235, 235);            
    border-radius: 10px;
    display: block;
    width: 190px;
  }

  .btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
  .btn:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 10px;
    right: -20px;
    transition: 0.5s;
    transform: translateY(-50%);
    transition: 0.5s;
    font-size: 50px;
  }
  
  .btn:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  .btn:hover:after {
    opacity: 1;
    right: 30px;
  }
 
/* About me button ends */
.btn{
    margin-top: 120px;
    margin-left: 80px;
    border: none;
    box-shadow: 0 0 23px 1px whitesmoke;
}
/* Side floating icons */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

.floating-icons {
    position: fixed;
    width: 90px;
    top: 50%;
    left: 0 ; 
    transform: translateY(-50%);
    transition: all 0.3s linear;
    z-index: 3; 
}
nav ul {
    margin-top: 0;
    margin-bottom: 0rem;
    list-style: none;
    padding: 0;
    width: 60px;
}
nav li {
    height: 45px;
    position: relative;
    background-color: grey;
    border-radius: 5px;
}
nav li:nth-child(1) a{
    background: #4267B2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
nav li:nth-child(2) a{
    background: #1DA1F2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
nav li:nth-child(3) a{
    background: #E1306C;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
nav li:nth-child(4) a{
    background: #2867B2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav li a {
    color: #fff !important;
    display: block;
    height: 100%;
    width: 100%;
    font-size: xx-large;
    line-height: 45px;
    padding-left: 25%;
    transition: all 0.3s linear;
    text-decoration: none !important;
}

nav li a i {
    position: absolute;
    top: 14px;
    left: 24px;
    font-size: 15px;
}

ul li a span {
    display: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

li a:hover {
    z-index: 1;
    width: 200px;
    border-bottom: 1px solid rgba(121, 112, 112, 0.5);
    box-shadow: 0 0 1px 1px rgba(133, 122, 122, 0.3);
}

ul li:hover a span {
    padding-left: 30%;
    display: inline-block;
    font-size: 15px;
}
